body{
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Inter', sans-serif;
}

.header-products{
    background-color: black;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
}


.left-section{

    width: 70px;
    height: 85px;
    margin-left: 15px;
    
}

.products-logo{
    width: 100%;
    height: 100%;    
}

.products-logo:hover{

    cursor: pointer;

}


.middle-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-left: 99px;
    width: 450px;
    
    

}

.middle-section a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 13px;
    
}

.middle-section a:hover{
    background-color: rgb(57, 31, 66);
    
    color: white;
    transition: 0.15s;
}


.right-section{

    height: 50px;
    width: 115px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;

    
}


.products-cart{
    height: 45px;
    width: 45px;
}
.products-cart:hover{
    transform: scale(0.94);
    transition: 0.15s;
}

.products-search{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.products-search:hover{
    border: 3px solid rgb(95, 51, 110);
    transition: 0.1s;   
}

.two-block-everything{
    display: flex;
    flex-direction: column;
    background-color:rgb(30, 30, 30);

}
.promos{
    width: 99%;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    margin-top: 25px;
 

}
.sekiro-promo, .god-of-war-promo{ 
    width: 40%;
    height: 500px;
    margin-left: 140px;
    position: relative;

}
.god-of-war-promo{
    margin-right: 140px;
}


.sekiro-image, .gow-image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(5, 5, 5, 0.6);
}

.product-card-sekiro{
    background-color: rgb(57, 31, 66);
    height: 100%;
    width: 420px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 7px black;
    margin-right: 300px;
 
}
.caption-product-sekiro{
    display: flex;
    flex-direction: column;
   
}  

.title-card-sekiro{
    color: white;
    font-size: 22px;
    font-weight: 450;
    margin-left: 10px;

    
    margin-top: 13px;
    margin-bottom: 0px;

    
}

.title-card-sekiro{
    color: white;
    font-size: 22px;
    font-weight: 450;
    margin-left: 10px;

    margin-top: 13px;
    margin-bottom: 0px;

    
}

.buynow-button-promo{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px ;
    bottom: 3%;
    right: 34%;
    color: white;
    
}

.buynow-button-promo:hover{
    background-color:  white;
    color: black;
    transition: 0.4s;
    cursor: pointer;
}
  

.all-products{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 40px;
    
}



.product-card-row-1{
    margin-top: 50px;
    margin-left: 280px;
    margin-right: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
    
}
.product-cards{
    background-color: #1a091f;
    height: 580px;
    width: 320px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 7px black;
    
    
 
    
}

.caption-product{
    display: flex;
    flex-direction: column;
    
   
    
    
}

.title-card{
    color: white;
    font-size: 20px;
    font-weight: 450;
    margin-left: 10px;

    margin-top: 13px;
    margin-bottom: 0px;

}

.price-tag{
    color: white;
    font-size: 24px;
    font-weight: 450;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;

    

}
.separation-line{
    margin-top: 0px;
    color: rgb(87, 84, 84);
}

.product-covers{
    width: 100%;
    height: 365px;
    border-radius: 6px;
    
    
}

.product-covers:hover{
    transform: scale(1.04);
    transition: 0.2s;
}


.two-buttons-sep{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.separation-line{
    margin-left: 10px;
    margin-right: 10px;
}

.two-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    

}

.fav-icon-button{
    width: 50px;
    height: 50px;
    padding: 0px;
    background: transparent;
    border: none;
    margin-left: 10px;
    
}

.fav-icon-button:hover{
    
    border: 1px solid white;
    border-radius: 5px;
    transform: scale(0.95);
    cursor: pointer;
    transition: 0.15s;
    
}
.fav-icon{
    height: 100%;
    width: 100%;
}

.buynow-button{
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    background: transparent;
    border: 1px solid white;
    color: white;
    
}

.buynow-button:hover{
    background-color: white;
    color: rgb(30, 30, 30);
    transition: 0.25s;
    cursor: pointer;
}

.footer-products p{
    font-weight: bold;
    color: white;
    margin: 0px;
    text-align: center;
    padding-top: 50px;
    font-size: 19px;
}

.footer-products{
    margin-top: 0px;
    background-color: black;
    height: 110px;
}

